[run]
branch = True
source =
    api
    filters
    managers
    models
    providers
    report_building
    utils
omit =
    **/__init__.py
    **/tests/**

[report]
show_missing = True
skip_covered = False
