[run]
branch = True
source =
    api
    filters
    managers
    models
    providers
    report_building
    utils
omit =
    **/__init__.py
    **/tests/**
    main.py
    managers/insider_manager.py
[report]
show_missing = True
skip_covered = False
